* { outline: red 1px solid;}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/*
a wildcard selector for outlining all of your elements
you may find this handy for visualising divs
remove it when you are done, or if you don't want it
*/
* { outline: red 1px solid; }
body {
background-color: #82DDB5;
background-image: url('img/illustration.gif'), url('img/texture.jpg');
background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
font-family: 'Quicksand', sans-serif;
margin: 0;
}

#nav {
8 / 11
background-color: #6B9;
border-bottom: 2px dashed #487;
color: white;
font-weight: bold;
padding: 20px 0;
text-align: center;
word-spacing: 2em;
}
#sponsor_logos { 
 height: 400px;
 width: 400px;
padding: 50px 675px; 
    position: static; 

     
}
#header {
text-align: center;
margin-top: 40px;
}

#logo {
max-width: 360px;
}

#description, #date {
max-width: 220px;
}

.register_btn {
background-color: #E43;
border: 2px dashed #A43;
border-radius: 2em;
color: #FFF;
cursor: pointer;
display: inline-block;
font-weight: bold;
margin-top: 25px;
padding: 15px 30px;
}

#what { 
    background-color: rgb(230, 255, 255, 0.6);
    Padding: 100px;
    text-align: center;
    color:darkcyan;
    width: auto;
    height: 400px;

    }

#why {
    background-color: rgb(182, 234, 211, 0.5);
    padding: 15px 30px;
    font-display: block;
    text-align: center; 
       color:darkcyan;
         height:400px 
}

#where{ 
    background-image: url('img/map.gif');
    background-size: auto; 
    padding: 200px 500px ;  
    text-align: center; 
    color: rgb(255, 102, 204);
    margin: auto; 
    
}

#when{
    background-image: url(img/wires.png); 
    background-size: 500px; 
    height: 800px; 
    background-color: rgb(45, 158, 146);
    padding: 15px 30px;
    text-align: center; 
       color:white
}

#who{ 
    background-color: rgb(242, 242, 242);
    padding: 15px 30px;
    height: 400px;
    margin: auto;
    text-align: center; 
       color:darkcyan 
}
#footer{
    
    height: 100px;
    width: 100px; 
    padding: 0px 0px; 
    margin-right: 50px; 
    position: absolute; 
    margin-left: 700px;
 
    
}
#face{
    
    height: 100px; 
    width: 100px;
    position: absolute; 
    margin-left: 950px; 
}
#itch {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 1200px;
    
}